* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
    background-color: rgba(5, 3, 5, 0.986);
    overflow: auto;
}

.about-us {
    padding-top: 20px;
    padding-bottom: 80px;
}

.about-us h1 {
    letter-spacing: -1px;
    font-family: "Kalam", cursive;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 60px;
}

.about-us hr {
    width: 70%;
}

.about-us p {
    font-family: "Kalam", cursive;
    padding: 10px 0;
    font-size: 24px;
}

.about-us img {
    height: 300px;
    width: 800px;
}

.About-feature {
    padding-bottom: 30px;
}

.About-feature p {
    margin: 0 0 30px;

}


.dev h2 {
    padding: 20px 0;
    font-weight: normal;
}

.dev p {
    padding-bottom: 20px;
    font-size: 18px;
}

.dev button {
    margin-bottom: 20px;
}